<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

       <bean id="shape4" class="com.springFramework.Shape4"></bean>

       <bean id="xyz" class="com.springFramework.Triangle4"/>

       <bean id="abc" class="com.springFramework.Triangle4">
              <property name="height" value="100"></property>
              <property name="type" value="Equilater"></property>
       </bean>
<!--
       <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

       <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/> -->

       <context:component-scan base-package="com.springFramework"/>
</beans>